<br>
<html>
<head>
<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading" >
      <h1>求职列表</h1>
      <div class="dropdown clearfix pull-right"  >
          <button style="right: 20px; position: absolute; bottom: 20px;" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            排序
              <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
              <li>
                <%= link_to("按照薪资下限排序", jobs_path(:order => "by_lower_bound")) %>
              </li>
              <li>
                  <%= link_to("按照薪资上限排序", jobs_path(:order => "by_upper_bound")) %>
              </li>
              <li>
                <%= link_to("按照发表时间排序", jobs_path ) %>
              </li>
          </ul>
      </div>
    </div>
  </div>
</head>

<body style="background-color:#f4f4f4";>
<table class="table table-boldered" >

  <div>
    <%= form_tag jobs_path, id: "search-form", :method => "get" do %>
    <%= text_field_tag :search, params[:search], class: 'btn btn-default', placeholder: "搜索职位" %>
    <%= submit_tag "搜索", class: 'btn btn-default', name: nil %>
    <% end %>
  </div>
  <br>
  <tbody>
      <% @jobs.each do |job| %>
      <div class="col-md-9 col-xs-12 job-box">
  <!--=== 职位信息 ===-->
  <div class="col-md-6 col-xs-12 info">
    <div class="info-top">
      <%= link_to(job.title, job_path(job)) %>
    </div>
    <div class="info-mid">
      <薪资下限><%= job.wage_lower_bound %>¥
    </div>
    <div class="info-bot">
      <薪资上限><%= job.wage_upper_bound %>¥
    </div>
  </div>
  <!--=== 公司信息 ===-->
<div class="col-md-6 col-xs-12 company">
  <div class="company-top">
     <%= job.contact_email %>
  </div>
  <div class="company-mid">
    <%= job.requirement %>
  </div>
  <div class="company-bot">
    <%= job.created_at %>
  </div>
</div>
</div>

       <% end %>
    </tbody>

</table>
    <div class="col-md-9">
    <div class="text-center"
    style="color:#212121">
      <%= will_paginate @jobs %>
    </div>
</body>
</html>

</div>
